<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Renyhc/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Renyhc" />
            <add key="ClearTextPassword" value="bc05daac3b68afbfc338a4a481e32a8cfd577d0e" />
        </github>
    </packageSourceCredentials>
</configuration>